{% extends "html" %}

{% block title %}Example REST Service{% endblock %}

{% block body %}
  <style>
    body { font-family: 'Source Code Pro', monospace }
    p { font-weight: 300 }
    ul { font-size: 85% }
    h1 i { color: forestgreen }
    div.resource-display :nth-child(n+2) { filter: opacity(.33) }
    div.resource-display:hover * { filter: opacity(1) }
  </style>

  <h3>
    <span class="initialism">REST</span> Resources
  </h3>
  <p>
    Resources are mapped to sqlalchemy models.
  </p>
  <p>
    <ul class="resource">
      {% for resource in rest_service.model.keys()   %}
        {% set uri = url_for("resource", uri=resource) %}
        <li>
          <div class="resource-display">
            <span class="d-lg-inline d-block">
              Resouce
              <a href="{{uri}}">{{resource}}</a>
            </span>
            <span class="d-lg-inline d-block">
              is mapped to sqla model <code>{{rest_service.model[resource]}}</code>
            </span>
            <span class="d-lg-inline d-block">
              and accessible at <a href="{{uri}}">{{uri}}</a>
            </span>
          </div>
        </li>
      {% endfor %}
    </ul>
  </p>
  <p>
    View
    <a href="{{url_for('resource_index')}}">resources fields and relations</a>.
  </p>

  <hr>

  <h3>
    Role-based Authorization
  </h3>
  <p>
    Resource authorization is a simple role-based access control
    that let you describe roles that allowed to perform operations on resources.
  </p>
  <p>
    #TODO: let roles describe resources fields.
  </p>
  <p>
    <form class="form-inline">
      <div class="form-group">
        <input type="text" class="form-control" name="username" placeholder="Username">
      </div>
      <div class="form-group mx-sm-3">
        <input type="password" class="form-control" name="password" placeholder="Password">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Authenticate</button>
      </div>
    </form>
  </p>
  <p>
    <strong>You are authenticated as:</strong>
    {{dict(session) or 'Not authenticated'}}
  </p>
  <p>
    <strong>Configured users:</strong>
    {{users}}
  </p>
  <p>
    <strong>Configured roles:</strong>
    {{rest_service.roles}}
  </p>
  <p>
    You can also directly fetch data via
    <code>curl -X GET user:password@{{request.host}}/resource/event</code>.
  </p>
  <script>
    document.querySelector('button').addEventListener('click', (event) => {
        event.preventDefault();

        const username = document.querySelector('input[name=username]').value;
        const password = document.querySelector('input[name=password]').value;
        console.log(username, password)
        fetch("{{url_for('authenticate')}}", {
            method: 'PUT',
            // credentials: 'include'  // https://stackoverflow.com/a/51726055/1300775
            headers: new Headers({
                "Authorization": `Basic ${btoa(`${username}:${password}`)}`
              })
        }).catch((error) => {
        }).then((response) => {
            location.reload()  // finally
        });
    });
  </script>
  <hr>

  <h3>
    Graph demo
  </h3>
  <p>
    <a href="{{url_for('resource_graph')}}">View graph</a>
  </p>
  <p>
    RelRest make it a piece of cake to query resources and relationships,
    up to nth degree of relationship.
  </p>
  <p>
    When you click on a node, only <strong>one</strong> REST request is needed
    to build and display the relational path on the graph !
  </p>
  <hr>

  <h3>
    <span class="initialism">URI</span> Decoder
  </h3>
  <p>
    When you make a request, the URI is decoded into a request object
    which is processed to generate a sqlachemy query.
    Try one of these URI and view the decoded request object
    and the returned data:
  </p>
  <p>
    <a href="{{url_for('examples')}}" class="float-right">Raw data</a>
    {% for section, examples in examples.items() %}
    <strong>{{section}}</strong>
    <ul>
      {% for explain, uri in examples %}
        {% set uri_decode = unquote(url_for('decode', uri=uri)) %}
        {% set uri_resource = unquote(url_for('resource', uri=uri)) %}
        <li class="mb-2">
          {{explain}}<br>
          <span class="badge badge-success">
            GET
          </span>
          {{uri|safe}}<br>
          <div class="small" style="font-weight:200">
            <a href="{{uri_decode|safe}}">decode</a>
            <a href="{{uri_resource|safe}}">data</a>
            </div>
        </li>
      {% endfor %}
    </ul>
    {% endfor %}
  </p>
  <hr>

  <h3>
    Service information
  </h3>
  <p>
    Miscellaneous. RelRest is a <span class="initialism">REST</span> interface wrapper on sqlalchemy.
  </p>
  <p>
    <a href="{{url_for('service_info')}}" class="float-right">Raw data</a>
    <ul>
      {% for key, value in service_info.items() %}
        <li class="mb-2">
          <div style="word-break:break-all">
            <strong>{{key}}</strong>
            <br>
            {{value}}
          </div>
        </li>
      {% endfor %}
    </ul>
  </p>
  {% endblock %}

{% block script %}
{% endblock %}
